.wrapper {
  display: flex; 
  max-height: 439px;
  margin: 0 -16px;
  width: calc(100% + 32px);
}

.wrapper > div {
  min-height: 439px;
  position: relative;
}

.wrapper > div::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

@media (max-width: 1023px) {
  .wrapper > div {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .wrapper > div {
    min-height: 230px;
  }
}