.wrapper {
  display: flex; 
  max-height: 439px;
}

.wrapper > div {
  min-height: 439px;
  position: relative;
}

.wrapper > div::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
