.mainContainer {
  min-height: 100vh;
}

.titleContainer {
  height: 250px;
  display: flex;
  align-items: center;
}

.sectionContainer {
  max-width: 1198px;
  padding: 80px 20px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}


.sectionPaddingTopBottom0 {
  padding: 0 20px;
}

.sectionContainerGrayBg {
  max-width: 100%;
  background-color: #efefef;
}

.sectionInner {
  margin: 0 auto;
  max-width: 1198px;
}

@media (max-width: 1023px) {
  .sectionContainer {
    padding: 60px 16px;
  }

  .sectionPaddingTopBottom0 {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .sectionContainer {
    padding: 30px 16px;
  }
}